@charset "UTF-8";

*,::before{
    box-sizing: border-box!important;
}
body{
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
    box-sizing: border-box;
    background-color: gainsboro;
    font-family: -apple-system, sans-serif;
    display: block;
}

.header_box{
    position: relative;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: aqua;
}

.search_box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 100px;
    height: 70px;
    box-sizing: border-box;
    background: #dcdcdc;
    border-radius: 30px;
    border: 3px solid rgba(0,0,0,0);
}
.search_box:focus{
    outline: 0;
    background-color: white;
    border-bottom: 3px solid #56baed;
    transition: all .5s ease-in-out;
}


.search-container{
    position: relative;
    top: -50%;
}
.round-circle-img{
    border-radius: 50%;
    border-style: solid;
    border-color: #616a3c;
    border-width: 5px;
    max-width: 120px;
    display: block;
    margin: auto;

}
.submit{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 13px 50px;
    display: block;
    background-color: #56baed;
    border-radius: 5px;
    color: white;
    text-align: center;
    border: none;
}
input[type = submit]:hover{
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    transition: all .3s ease-in-out;
    animation-delay: .6s;
}
input[type = submit]:focus{
    outline: 0;
}
.text-container{
    font-family: -apple-system,sans-serif;
    text-align: center;
    max-width: 100%;
}

.begin_img_holder{
    height: 100vh;
    display: grid;
    overflow: fragments;
    box-sizing: border-box;
    background-image: url("../img/background.jpg");
}
.background{
    height: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
}
.next-arrow {
    position: absolute;
    width:100%;
    height: 21px;
    bottom: 7%;
    text-align: center;
}


.class-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-width: 200px;
    padding: 10px 15px;
    display: flex;
}


.class:hover{
    box-shadow: 10px 10px 56px rgba(15, 80, 100, 0.16);
    transition: all .5s ease-out;
    border: 1px solid #ffffff;
}
.class-link{
    text-decoration: none;
    width: 90%;
    margin: auto;
}

.class{
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.16);
    border-radius: .25rem;
    min-height: 120px;
    background-clip: border-box;
    object-fit: cover;
    overflow: hidden;
}

.class-head{
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    background-color: #f9fafc;
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: 1.5rem;
    border-bottom: .02rem rgba(0,0,0,0.125) solid;
}

.classes-img{
    height: 28px;
    width: 28px;
}
.class-title{
    margin:auto;
    text-decoration: none;
    color: black;
}
.class-body{
    box-sizing: border-box;
    padding-top: 15px;
    padding-left:30px;
    padding-right: 30px;
    flex: 1;
    background-color: #ffffff;
    display: block;
}
.classes-text{
    width: inherit;
    margin: 0;
    text-align: justify;
}
.d-block{
    display: block !important;
}
.color-white{
    color: white;
}
.color-black{
    color: black;
}
.bg-white{
    background-color: white;
}
.bg-dimmed{
    background-color: #e5e9f2;
}
.pb-5{
    padding-bottom: 5px;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.d-flex{
    display: flex;
}
.comment{
    width: 60%;
    padding-bottom: 20px;
    margin-top: 20px!important;
}
.anchor{
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}
.board-container{
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.name-input-holder{
    width: 480px;
    max-width: 100%;
    display: flex;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.name-input{
    width: 400px;
    max-width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 20px;
}
.content-input{
    width: 480px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    max-width: 100%;
}
.board-fix{
    padding-bottom: 2rem;
}
.board-holder{
    width: 480px;
    max-width: 100%;
    min-width: 300px;
    min-height: 100px;
    border-radius: 10px;
    border: 1px grey solid;
    margin: 3px auto;
}
.board-head{
    width: 100%;
    min-height: 20px;
    color: #575757;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
}
.board-head-nickname{
    margin-left: 15px;
    padding-left: 0;
}
.board-head-context{
    margin-left: auto;
}

.line-break{
    width: 100%;
}
.board-text{
    width: 100%;
    max-height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: medium;
}
.g-comment{
    color: gray;
    font-size: medium;
    text-align: center;
}
.foot{
    height: 100px;
    width: 100%;
}
.foot-container{
    padding-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.foot-container a{
    text-decoration: none;
    color: grey;
}
.foot-container a:hover{
    text-decoration: underline;
    color: darkgray;
    margin-left: 5px;
    transition: all .3s ease-out;
}

.score_wrapper {
    display:inline-block;
    font-size: 45px;
    cursor: pointer;
    color: #dc2020;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.right{
    position: relative;
    padding-right: 10px!important;
    margin-left: auto;
}